.xl {

}

.xl td {
	width: 3rem;
	height: 3rem;
	text-align: center;
	/*background-color: #FDFDFD;*/
	/*border-radius: 8%;*/
}
.xl .day:hover {
	background-color: #EEE;
	cursor: pointer;
}
.xl .weeknum {
	width: 1rem;
	font-size: 0.5rem;
	color: #777;
}
.xl .even {
	/*background-color: #FFFFEA;*/
	background-color: #bfeefa;
	color: #555768;
}
.xl .odd {
	/*background-color: #FFEAFF;*/
	background-color: #F3F6A;
	color: #333;
}
.xl .today {
	border-radius: 50%;
	background-color: #f7f086;
}
.xl .month {
	color: black;
}
.xl .active {
	background-color: #cbcdcf;
}
.xl .active:hover {
	background-color: #cccecf;
}